<%# locals: (license:, url:) %>
<%= render "shared/error_summary", model: license %>

<%= form_with model: license, url: url do |f| %>
  <div class="field">
    <%= f.label :customer_id, "Customer", class: "field__label" %>
    <span class="field__select">
      <%= f.collection_select :customer_id, Customer.order(:name), :id, :display_name,
            { include_blank: "Pick a customer" }, class: "field__control", required: true %>
      <%= inline_svg_tag "lucide/chevron-down.svg", class: "lucide", size: "16px" %>
    </span>
  </div>

  <div class="field">
    <%= f.label :product, class: "field__label" %>
    <%= f.text_field :product, class: "field__control", placeholder: "Verkilo", required: true %>
  </div>

  <div class="field">
    <%= f.label :license_key, class: "field__label" %>
    <%= f.text_field :license_key, class: "field__control", placeholder: "VRK-XXXX-XXXX", required: true %>
  </div>

  <div class="field">
    <%= f.label :seats, class: "field__label" %>
    <%= f.number_field :seats, class: "field__control", min: 1, value: license.seats || 1 %>
  </div>

  <div class="field">
    <%= f.label :status, class: "field__label" %>
    <span class="field__select">
      <%= f.select :status, License.statuses.keys.map { |s| [s.titleize, s] }, {}, class: "field__control" %>
      <%= inline_svg_tag "lucide/chevron-down.svg", class: "lucide", size: "16px" %>
    </span>
  </div>

  <div class="field">
    <%= f.label :issued_at, "Issued", class: "field__label" %>
    <%= f.datetime_local_field :issued_at, class: "field__control" %>
  </div>

  <div class="field">
    <%= f.label :expires_at, "Expires", class: "field__label" %>
    <%= f.datetime_local_field :expires_at, class: "field__control" %>
  </div>

  <div class="u-cluster">
    <%= f.submit license.record_id ? "Save changes" : "Create license", class: "button button--primary" %>
    <%= link_to "Never mind", (license.record_id ? license_path(license.record) : licenses_path), class: "button" %>
  </div>
<% end %>
